UCSD_USERNAME=
UCSD_PASSWORD=
WIFI_SSID=UCSD-PROTECTED
NON_ENTERPRISE_WIFI_PASSWORD=

MQTT_BROKER=broker.emqx.io
MQTT_CLIENT_ID=
MQTT_TOPIC=


# IF you have a # in your password, enslose it in '' or ""

### Define your MQTT CLIENT_ID and your TOPIC inside the .env file 
### now, this allows us to have a single place for both your python 
### code and your ESP32 code to pull environment variables from a 
### single place.